# Artifacts and local files
*.tmp
*.bak
*.log
*.old
.cache
*_cache
*.local
*.local.*
.archive/
.stversions
*_LOCALDEV*
.nodeploy
.miserc.toml

# Python
*.egg
.venv
.envrc
*.py[codz]
*$py.class
*.egg-info
__pycache__
.python-version

# Sensitive files
**/full.yml
**/data
*.pem
*.key
*.crt
*.pub

# OS files
*~
._*
.nfs*
Icon[]
.Trash-*
__MACOSX/
Thumbs.db
nohup.out
.DS_Store
.directory
.LSOverride
ehthumbs.db
.AppleDouble
.fuse_hidden*
$RECYCLE.BIN/
[Dd]esktop.ini
